[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "keyToEnglish"]
	path = keyToEnglish
	url = https://github.com/mcandocia/keytoenglish
	shallow = true
	registered = true
